<header>
  <div class="header-banner">
      <h1>LISTS ARTICLES</h1>
  </div>
  <div class="clear"></div>
  <nav>
      <div class="site-title">Finland</div>
      <ul>
        
          <li> <button id="boutonAjout" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Ajouter un article
          </button></li>
      </ul>
  </nav>
</header>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <div id="modalalite">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ajouter un article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container" >
        
         <fieldset>
          <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-group">
          <label for="title">Titre</label>
          <input type="text" id="title" formControlName="title" class="form-control" placeholder="titre">
          <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
          <div *ngIf="f['title'].errors && f['title'].errors['required']"></div>
          </div>
          </div>
          
          <div class="form-group">
              <label for="body">Description</label>
              <input type="text" id="body" formControlName="body" class="form-control" placeholder="saisir la description">
              <div *ngIf="f['body'].touched && f['body'].invalid" class="alert alert-danger">
              <div *ngIf="f['body'].errors && f['body'].errors['required']"></div>
              </div>
              </div>
              <button id="ajouter" class="btn btn-primary" type="submit" [disabled]="!form.valid">ajouter</button>
          </form>
        </fieldset>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
  
       

 
  <section class="cards-wrapper" >
    <div class="card-grid-space"  *ngFor="let article of articles">
      <div class="num">{{article.id}}</div>
      <a class="card"  style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
        <div>
          <h1>{{article.title}}</h1>
          <p>{{article.body}}</p>
          <div class="date">6 Oct 2017</div>
          <div class="tags">
            <div class="tag">
              <a [routerLink]="['/article', article.id, 'view']" class="btn btn-info"><i class="fa-solid fa-eye" style="color: #3b4fff;"></i></a>
              <a [routerLink]="['/article', article.id, 'edit']" class="btn btn-primary"><i class="fa-solid fa-pen-to-square" style="color: #FFD43B;"></i></a>
              <button class="btn btn-danger" type="button" (click)="supprimerArticle(article.id)"><i class="fa-solid fa-trash" style="color: #fff;"></i></button>
            </div>
          </div>
        </div>
      </a>
    </div>
    
    <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
  </section>
  

  <script>
    $(window).scroll(function(){
    if ($(window).scrollTop() >= 300) {
        $('nav').addClass('fixed-header');
        $('nav div').addClass('visible-title');
    }
    else {
        $('nav').removeClass('fixed-header');
        $('nav div').removeClass('visible-title');
    }
});
  </script>